---
---
/*================================================================
/ BASICS
/=================================================================*/
body, h1, h2, h3, h4, h5, h6, blockquote, pre, hr, figure {
    margin: 0;
    padding: 0;
}

body {
	font-family: 'PT Sans', 'Open Sans', Dekko, sans-serif;
	background: #f8f8f8;
	margin: 0;
	color: rgba(0,0,0,0.87);
	line-height: 24px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	line-height: initial;
}
h1 a, h2 a, h3 a, h4 a {
	
}

h1 {
	font-size: 250%;
}
h2 {
	font-size: 200%;
	margin-bottom: 10px;
	line-height: 26px;
	
	/*
	background: #000000;
	padding-left: 10px;
	border-radius: 10px;
	color: #ffffff; */
}
/*
h2:hover {
	color: #0072CF;
	cursor: pointer;
}
*/
h2:after {
	/*background: none repeat scroll 0 0 #d9d8d5;*/
	content: "";
	display: block;
	height: 1px;
	overflow: hidden;
	
	/*
	background: -moz-linear-gradient(left, rgba(102,102,102,1) 0%, rgba(153,153,153,1) 50%, rgba(184,184,184,0) 80%, rgba(204,204,204,0) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(102,102,102,1)), color-stop(50%,rgba(153,153,153,1)), color-stop(80%,rgba(184,184,184,0)), color-stop(100%,rgba(204,204,204,0)));
	background: -webkit-linear-gradient(left, rgba(102,102,102,1) 0%,rgba(153,153,153,1) 50%,rgba(184,184,184,0) 80%,rgba(204,204,204,0) 100%);
	background: -o-linear-gradient(left, rgba(102,102,102,1) 0%,rgba(153,153,153,1) 50%,rgba(184,184,184,0) 80%,rgba(204,204,204,0) 100%);
	background: -ms-linear-gradient(left, rgba(102,102,102,1) 0%,rgba(153,153,153,1) 50%,rgba(184,184,184,0) 80%,rgba(204,204,204,0) 100%);
	background: linear-gradient(to right, rgba(102,102,102,1) 0%,rgba(153,153,153,1) 50%,rgba(184,184,184,0) 80%,rgba(204,204,204,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#00cccccc',GradientType=1 );
	*/
}
h3 {
	font-size: 150%;
	margin-top: 40px;
}
h4 {
	font-weight: bold !important;
}

p {
	
}

blockquote {
	display: block;
	margin: 20px auto;
	padding: 0 20px;
	width: 80%;
	color: #DC272E;
	font-style: italic;
	line-height: 33px;
	border: 0;
}
blockquote p {
	font-size: 180%;
}


a {
	color: #0072CF;
	text-decoration: none;
	transition: all 0.0s ease-in-out;
}
a:visited {
	
}
a:hover, a:active {
	color: rgba(0,0,0,0.87);
}

a.external {
	background: url("{{ site.baseurl }}{{ site.url-imgs-site }}/external.png") center right no-repeat;
	padding-right: 13px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

pre {
	-webkit-tab-size: 4;
    -moz-tab-size:	  4;
    -o-tab-size:   	  4;
    tab-size:         4;
	line-height: 16px;
}

code.inline {
	font-family: "Courier", monospace;
	font-size: 13px;
	background: #ffffff;
	padding: 2px 3px;
	border-radius: 3px;
	border: 1px solid #cccccc;
}

p code {
	background: #ffffff;
	padding: 2px 3px;
	border-radius: 3px;
	border: 1px solid #cccccc;
}

/*================================
/ MODULAR
/=================================*/

.shadow-1 {
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6) inset, 0 0 0 8px rgba(0, 0, 0, 0.05);
}

.border-1 {
	border: 1px solid #cccccc;
}

.box-1 {
	display: block;
	padding: 0px 20px;
	background: #ffffff;
	border: 1px solid #cccccc;
	border-radius: 10px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08) inset;
}

.box-2 {
	display: block;
	padding: 0px 20px;
	background: #ffb200;
	color: #ffffff;
	border: 1px solid #dc7604;
	border-radius: 10px;
	box-shadow: 0 0 20px 0 #ff6e00 inset;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.14);
}

.radius-10 {
	border-radius: 10%;
}

.radius-50 {
	border-radius: 50%;
}

.bg-patreon {
	background: transparent url("{{ site.url }}/imgs/patreon.png") repeat scroll center center / 115% auto;
}

.gradient-top-1 {
	background: -moz-linear-gradient(top, rgba(0,0,0,0.02) 0%, rgba(0,0,0,0) 10%, rgba(0,0,0,0) 100%);
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.02) 0%, rgba(0,0,0,0) 10%, rgba(0,0,0,0) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0.02) 0%, rgba(0,0,0,0) 10%, rgba(0,0,0,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a000000', endColorstr='#00000000', GradientType=0 );
}

.blocked {
	opacity: 0.4;
	cursor: no-drop;
}

@keyframe fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}
@-webkit-keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframe marginTop {
	from {margin-top: -20px;}
	to {opacity: 1; margin-top: 0px;}
}
@-webkit-keyframes marginTop {
	from {margin-top: -20px;}
	to {margin-top: 0px;}
}

/*================================
/ RCSS - VARIANTS - http://rscss.io/variants.html
/=================================*/
.-disabled {
	opacity: 0.4;
	cursor: no-drop;
	{% if site.indexShowDisabled == false %}
	display: none;
	{% endif %}
}
.-card {
	background: #fff;

	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.1);
	border-radius: 3px;

	transition: 0.2s all;
}
.-card:hover {
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.3);
	transform: translateY(-5px);
}
/*================================
/ RCSS - COMPONENTS - http://rscss.io/components.html
/=================================*/
.article-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: stretch;
	align-content: stretch;
}
.article-list .item {
	display: flex;
	margin-right: 17px;
	margin-bottom: 17px;
}

.article-link {
	color: rgba(0,0,0,0.87);
	text-align: center;
	width: 100%;
}
.article-link.-small {
	width: 150px; /* previously 100px */
	min-height: 140px;
}
.article-link.-medium {
	width: 217px;
	min-height: 140px;
}

/* ICON COMPONENT */
.article-link .icon {
	margin: auto;
	
	width: 64px;
	height: 64px;
	margin-top: 20px;
	
	/* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3) inset; */
	border-radius: 50%;
	
	transition: all 0.2s;
}
.article-link.-small .icon {
	width: 64px;
	height: 64px;
	margin-top: 20px;
}

/* ICON DEFAULTS */
/*.article-link .icon.-graphics {
	background: transparent url("{{ site.baseurl }}{{ site.url-imgs }}/default_thumb_graphics.png") no-repeat scroll center center / 100% auto;
}*/
.article-link .icon::before, #page h1 .icon::before {
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	
	display: flex;
	align-items: center;
	justify-content: center;
	width: 64px;
	height: 64px;
	
	font-size: 2.5rem;
	color: #333;
	
	transition: all 0.2s;
}
/* https://stackoverflow.com/a/20782415/423835 */
.article-link .icon.-graphics::before {
	content: "\f03e";
	color: #ff9a03;
}

/*.article-link .icon.-unity {
	background: transparent url("{{ site.baseurl }}{{ site.url-imgs }}/default_thumb_unity.png") no-repeat scroll center center / 100% auto;
}*/
.article-link .icon.-unity::before {
	content: "\f6d1";
	color: #555;
}
/*.article-link .icon.-programming {
	background: transparent url("{{ site.baseurl }}{{ site.url-imgs }}/default_thumb_programming2.png") no-repeat scroll center center / 100% auto;
}*/
.article-link .icon.-programming::before {
	content: "\f121";
	color: #4682b4;
}

/* ICON OVERRIDES */
{% for i in site.tutorials %}
.article-link.{{ i.refid }} .icon {
	{% if i.bg-img-thumb-path  %}
	background: transparent url("{{ site.baseurl }}{{ site.url-imgs }}{{ i.url }}{{ i.bg-img-thumb-path }}") no-repeat scroll center center / {{ i.bg-img-thumb-scale }} auto;
	{% endif%}
	transition: all 0.3s;
}
{% endfor %}

{% for i in site.references %}
/*.article-link.{{ i.refid }} .icon {
	{% if i.bg-img-thumb-path  %}
	background: transparent url("{{ site.baseurl }}{{ site.url-imgs }}{{ i.url }}{{ i.bg-img-thumb-path }}") no-repeat scroll center center / {{ i.bg-img-thumb-scale }} auto;
	{% endif%}
	transition: all 0.3s;
}*/

.article-link.{{ i.refid }} .icon::before {
	{% if i.icon-fa-id  %}
	content: "\{{ i.icon-fa-id }}";
	{% endif%}
	transition: all 0.3s;
}

#page article.{{ i.refid }} h1 .icon::before {
	{% if i.icon-fa-id  %}
	content: "\{{ i.icon-fa-id }}";
	display: inline-block;
	width: auto;
	height: auto;
	margin-right: 20px;
	{% endif%}
}
#page article.{{ i.refid }} h1 .icon.-unity::before {
	color: #555;
}
#page article.{{ i.refid }} h1 .icon.-programming::before {
	color: #4682b4;
}
#page article.{{ i.refid }} h1 .icon.-graphics::before {
	color: #ff9a03;
}


{% endfor %}

/*.article-link:hover .icon {
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3) inset, 0 0 0px 5px rgba(0, 0, 0, 0.02);
	border-radius: 50%;
	background-size: 110%;
	transition: all 0.2s;
}*/
.article-link:hover .icon::before {
	font-size: 3em;
	transition: all 0.2s;
}

.article-link .title {
	padding: 5px;
	font-size: 90%;
	overflow: hidden;
	overflow-wrap: break-word;
}
.article-link .patreon {
	position: absolute;
	margin-left: -15px;
	width: 76px;
	border-radius: 6px;
	background-color: #ffa300;
	-webkit-transform: rotate(-30deg);
	-ms-transform: rotate(-30deg);
	transform: rotate(-30deg);
	color: #fff;
	font-size: 14px;
}

/* SIDEBAR */
.article-link.-sidebar {
	display: flex;
	flex-direction: row;
	padding: 5px 0;
	position: relative;
	
	transition: all 0.1s ease 0s;
}
#sidebar li:not(:last-child) {
	/* No border for last article link */
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.article-link.-sidebar .icon {
	margin: 0;
	margin-right: 15px;
	width: 40px;
	height: 40px;
}
.article-link.-sidebar .icon::before {
	width: 40px;
	height: 40px;
	font-size: 1.5rem;
}
.article-link.-sidebar .title {
	margin: auto 0;
	padding: 0;
	font-size: 100%;
}

/* AFFILIATE ASSETS */
.affiliate-assets {
	display: flex;
	align-items: stretch;
}
.affiliate-assets.-card {
	
}

.affiliate-assets .item {
	display: flex;
	flex-basis: 0;
	padding: 20px;
	flex-grow: 1;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.affiliate-assets .item:hover {
	background: #f1f1f1;
}
.affiliate-assets .item:hover img {
	border-radius: 10px;
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
}

.affiliate-assets .title {
	text-align: center;
}
.affiliate-assets .img {
	
}

/* PATREON */
.patreon-benefits {
	display: flex;
}

.patreon-benefits .item {
	display: flex;
	margin-right: 20px;
	padding: 20px;
	flex-direction: column;
	flex-basis: 0;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
	text-align: center;
	
	transition: 0.3s all;
}
.patreon-benefits .item:last-child {
	margin-right: 0;
}
.patreon-benefits .item:hover {
	transform: scale(1.2);
	z-index: 1000;
}

.patreon-benefits .img {
	background: url("http://localhost:4000/imgs/site/GUI_Helium_Notepad.png") no-repeat center / contain;
	margin-bottom: 20px;
	width: 50px;
	height: 50px;
	filter: brightness(40%);
}

.patreon-benefits .title {
	font-size: 20px;
	margin-bottom: 20px;
}

.patreon-benefits .desc {
	font-size: 16px;
	color: #a2a2a2;
}

/* TOOLTIPS https://codepen.io/roydigerhund/pen/gPyzEa - https://tympanus.net/Development/TooltipStylesInspiration/index.html */
.tooltip-content {
	box-sizing: border-box;
	position: absolute;
	margin-left: -25px;
	padding: 10px;

	bottom: 90%;

	display: block;
	width: 200px;
	visibility: hidden;

	opacity: 0;
	z-index: 999;
	transform: translate3d(0, -20px, 0);
	transition: all .2s ease-out;
	
	pointer-events: none;
}
				
.tooltip-content:after {
	/*
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	bottom: -5px;
	left: 50%;
	margin-left: -5px;
	background: #00b7ff;
	border-radius: 50%;
	*/
}

.tooltip-content .title {
	display: none;
}

.tooltip-content .complexity-content {
	padding: 5px;
}
.tooltip-content .complexity-content .title {
	font-weight: bold;
	display: none;
}
.tooltip-content .complexity-content .value {
	
}
.tooltip-content .complexity-content .value.-beginner {
	color: green;
}
.tooltip-content .complexity-content .value.-intermediate {
	color: #00b7ff;
}
.tooltip-content .complexity-content .value.-advanced {
	color: red;
}

.article-link.-sidebar .tooltip-content,
.article-link.-sidebar .tooltip-content {
		bottom: auto;
		margin-left: 0;
		top: 0;
		left: -210px;
		transform: translate3d(-20px, 0px, 0px);
}

.article-link:hover .tooltip-content,
.article-link:focus .tooltip-content,
.article-link:active .tooltip-content,
.article-link:focus:not(:hover) .tooltip-content {
		visibility: visible;
		opacity: 1;
		transform: translate3d(0,0,0);
}

.unitywebgl-container {
	position: relative;
}
.unitywebgl-container .logo {
	position: absolute;

	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	
	color: #fff;
	
	background: #00b7ff;
	border-radius: 50%;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3) inset;
}
.unitywebgl-container .logo.-corner {
	margin: 20px;
	width: 50px;
	height: 50px;
	font-size: 16px;
	background: #ff004c;
}
.unitywebgl-container .logo.-middle {
	width: 150px;
	height: 150px;
	font-size: 22px;
}
.unitywebgl-container .clicktoload {
	cursor: pointer;
	
	position: absolute;

	width: 100%;
	height: 100%;
	
	display: flex;
	align-items: center;
	justify-content: center;
	
	box-sizing: border-box;
	
	background: #ffffff;
	border: 10px solid rgba(0,0,0,0.01);
	
	z-index: 999;
}
.unitywebgl-container .canvas {
	width: 100%;
}

/*================================================================
/ MISC
/=================================================================*/

/* UNITY ASSET STORE EDITS */
/* SEE js INCLUDE */

/*
.title {
	font-size: 200%;
	border-bottom: 1px solid rgb(204, 204, 204);
	
	background: -moz-linear-gradient(left,  rgba(217,216,213,0) 0%, rgba(217,216,213,0.2) 20%, rgba(217,216,213,0.2) 80%, rgba(217,216,213,0) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(217,216,213,0)), color-stop(20%,rgba(217,216,213,0.2)), color-stop(80%,rgba(217,216,213,0.2)), color-stop(100%,rgba(217,216,213,0)));
	background: -webkit-linear-gradient(left,  rgba(217,216,213,0) 0%,rgba(217,216,213,0.2) 20%,rgba(217,216,213,0.2) 80%,rgba(217,216,213,0) 100%);
	background: -o-linear-gradient(left,  rgba(217,216,213,0) 0%,rgba(217,216,213,0.2) 20%,rgba(217,216,213,0.2) 80%,rgba(217,216,213,0) 100%);
	background: -ms-linear-gradient(left,  rgba(217,216,213,0) 0%,rgba(217,216,213,0.2) 20%,rgba(217,216,213,0.2) 80%,rgba(217,216,213,0) 100%);
	background: linear-gradient(to right,  rgba(217,216,213,0) 0%,rgba(217,216,213,0.2) 20%,rgba(217,216,213,0.2) 80%,rgba(217,216,213,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00d9d8d5', endColorstr='#00d9d8d5',GradientType=1 );
}
*/

.coming-soon {
	display: inline-block;
	background: #ffa826;
	border: 1px solid #b46b00;
	border-radius: 4px;
	color: #fff;
	padding: 0 4px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

#markdown-toc {
	display: inline-block;
	padding: 10px 40px;
	background: #fff none repeat scroll 0 0;
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
	border-radius: 3px;
}

/*===== ANNOUNCEMENTS =====*/
a.announcement {
	display: block;
	margin: 20px 0;
	padding: 20px;
	overflow: auto;
	
	background: #fff;
	color: #000000;
	border: 1px solid #ccc;
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.1) inset;
	
	transition: all 0.3s;
}
a.announcement:hover {
	display: block;
	background: #ffb200;
	color: #ffffff;
	border: 1px solid #dc7604;
	box-shadow: 0 0 20px 0 #ff6e00 inset;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.14);

	transition: all 0.3s;
}
a.announcement h1 {
	font-size: 150%;
	margin: 0;
	padding: 0;
}
a.announcement p {
	margin: 0;
	padding: 0;
}

a.announcement .icon {
	float: left;
	margin-right: 20px;
	width: 100px;
	height: 100px;
}

/*===== GOOGLE SLIDES UGLY FIX =====*/
.google-slides-wrapper {
	pointer-events: none;
	width: 820px;
    height:490px;
    position:relative;
	background: #00b7ff;
	border-radius: 3px;
}

.google-slides-wrapper .google-slides-iframe {
	pointer-events: visible;
	border-radius: 6px;
}

.google-slides-wrapper .border {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	border: 2px solid #00b7ff;
	border-radius: 3px;
}

.google-slides-wrapper .toolbar {
	position: absolute;
	bottom: 0;
	width: 820px;
	height: 30px;
	background: #00b7ff;
	color: white;
	border-radius: 0px 0px 3px 3px;
}

.google-slides-wrapper .toolbar span {
	color: #00b7ff;
}

/*===== ANIMATION CONTAINER - FOR NEW CSS ANIMATIONS, VS OLD GOOGLE SLIDES =====*/

.anim-container {
	position: relative;
	padding: 20px;
	width: 820px; 
	height: 490px;
	box-sizing: border-box;
	overflow: hidden;
	
	/*
	background: #f1f1f1;
	border-radius: 15px;
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1) inset;
	*/
	
	/* https://stackoverflow.com/questions/3540194/how-to-make-a-grid-like-graph-paper-grid-with-just-css */
	/*
	background-image: linear-gradient(to right, rgba(0,0,0,0.1) 1px, transparent 1px), linear-gradient(to bottom, rgba(0,0,0,0.1) 1px, transparent 1px);
	background-size: 10px 10px;
	*/
}

.anim-container .box-container {
	border-radius: 15px;
	background-color: rgba(0, 183, 255, 1);
	width: 200px;
	text-align: center;
	color: #fff;
	
	position: absolute;
}

.anim-container .box-container .title {
	padding: 10px;
	font-size: 20px;
}

.anim-container .gameobject {
	background-color: rgba(0, 183, 255, 1);
}

.anim-container .component {
	background-color: rgba(230, 50, 50, 1);
}

.anim-container .component .group {
	position: relative;
	margin: 0px 10px 10px 10px;
	font-size: 90%;
	background-color: rgba(0, 0, 0, 0.1);
	text-align: left;
	border-radius: 10px;
}
.anim-container .component .group.-field {
	
}
.anim-container .component .group.-field::before {
    /*content: 'Fields';
    position: absolute;
    top: -13px;
    left: 0px;
	color: #000;*/
}
.anim-container .component .group.-method {
	
}
.anim-container .component .group.-method::before {
    /*content: 'Methods';
    position: absolute;
    top: -13px;
    left: 0px;
	color: #000;*/
}

.anim-container .component .group .item {
	display: flex;
}
.anim-container .component .group .item:not(:last-child) {
	border-bottom: 1px solid rgba(0,0,0,0.05);
}
.anim-container .component .group .item .el {
	margin-right: 5px;
}
.anim-container .component .group .item .el.type {
	
}
.anim-container .component .group .item .el.name {
	
}
.anim-container .component .group .item .el.value {
	
}

.anim-container .class {
	background-color: rgba(230, 50, 50, 1);
}

.anim-container .state {
	display: flex;
	width: 100px;
	height: 100px;
}

.anim-container .state .title {
	flex-grow: 1;
	align-self: center;
}

.anim-container .transition {
	display: flex;
	width: 200px;
	height: 10px;
}

.anim-container .transition .title {
	flex-grow: 1;
	align-self: center;
	text-align: center;
}

.anim-container .transition .bg {
	width: 200px;
	height: 10px;
	background-color: rgba(0, 183, 255, 1);
	position: absolute;
	transform: rotate(-45deg);
	z-index: -100;
}

.anim-container .progress-container {
	position: absolute;
	width: 100%;
	height: 4px;
	
	bottom: 15px;
	left: 0;
	
	display: flex;
	flex-direction: column;
	align-items: center;
}
.anim-container .progress-container .bar-wrapper {
	width: 150px;
	height: 100%;
	
	background: rgba(0,0,0,0.05);
	border-radius: 20px;
}
.anim-container .progress-container .bar {
	width: 100%;
	height: 100%;

	background: rgba(0,0,0,0.1);
	
	border-radius: 20px;
}

/*================================================================
/ HEADER
/=================================================================*/

.header-main {
	/*background: #f1f1f1;*/
	font-family: Dekko, sans-serif;
	border-bottom: 1px dotted rgba(0,0,0,0.1);
}

.header-main a {
	color: rgba(0,0,0,0.87);
}

.header-main .grid-container {
	display: flex;
	align-items: center;
}

.header-main h1 a {
	display: flex;
	align-items: center;
}

.header-main .logo {
	width: 60px;
	height: 60px;
	margin-right: 20px;
	padding-bottom: 1px;
	background: #fff;
	border-radius: 50%;
	color: #00b7ff;
	font-size: 83px;
	
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-main .logo::before {
	content: "\263B";
}

.navmenu ul {
	display: flex;
	justify-content: flex-end;
}

.navmenu .item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	padding: 20px;
}

.navmenu .item .icon {
	margin-bottom: 10px;
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	background-size: contain !important;
	filter: drop-shadow(1px 1px 0px rgba(0,0,0,.1));
	
	transition: all 0.1s;
}
.navmenu .item:hover .icon {
	transform: translateY(-5px);
}

{% for i in site.pages %}
.navmenu .item.{{ i.id }} .icon  {
	background: url("{{ site.url }}{{ site.url-imgs-site }}/{{ i.img-icon }}");
}
{% endfor %}

.navmenu .item .title {
	
}

/* DROPDOWN */
.dropdown {
	overflow: hidden;
	padding: 0px;
	max-height: 0px;
	z-index: 999;
	
	transition: all 0.4s;
}

.dropdown.show {
	padding: 20px 0px;
	max-height: 650px;
}

.dropdown h2 {
	margin: 20px 0 10px 0;
	font-size: 100%;
	font-weight: bold;
}

.dropdown ul {
	display: block;
}

.dropdown .tutorial {
	float: left;
	margin-right: 10px;
	padding-top: 20px;
	display: block;
	width: 100px;
	height: 120px;
	overflow: hidden;

	background: #fff;
	text-align: center;
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.1);
	border-radius: 3px;
	
	transition: 0.2s all;
}

.dropdown .tutorial:hover {
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.3);
	transform: translateY(-5px);
}

.dropdown .tutorial .title {
	padding: 5px;
	font-size: 90%;
}

.dropdown .tutorial .icon {
	width: 64px;
	height: 64px;
	border-radius: 50%;
	margin: auto;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3) inset;
	
	transition: all 0.2s;
}
.dropdown .tutorial:hover .icon {
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3) inset, 0 0 0px 5px rgba(0, 0, 0, 0.02);
	background-size: 300%;
	transition: all 0.2s;
}

/*================================================================
/ INDEX - TUTORIALS - SMALL CARDS
/=================================================================*/
#tutorials-game-all section {
	/* overflow: auto; */
	border-bottom: 1px dotted rgba(0,0,0,0.1);
	padding-bottom: 10px;
}

#tutorials-game-all .tutorial {
	float: left;
	margin-right: 17px;
	margin-bottom: 17px;
	padding-top: 20px;
	display: block;
	width: 100px;
	height: 120px;
	/*overflow: hidden;*/

	background: #fff;
	text-align: center;
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.1);
	border-radius: 3px;
	
	transition: 0.2s all;
}

#tutorials-game-all .tutorial:hover {
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.3);
	transform: translateY(-5px);
}

#tutorials-game-all .tutorial .title {
	padding: 5px;
	font-size: 90%;
	height: 46px;
	overflow: hidden;
}

#tutorials-game-all .tutorial .icon {
	width: 64px;
	height: 64px;
	border-radius: 50%;
	margin: auto;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3) inset;
	
	transition: all 0.2s;
}
#tutorials-game-all .tutorial:hover .icon {
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3) inset, 0 0 0px 5px rgba(0, 0, 0, 0.02);
	background-size: 300%;
	transition: all 0.2s;
}

#tutorials-game-all .tutorial .exclusive {
	position: absolute;
	margin-top: -15px;
	margin-left: -15px;
	width: 76px;
	border-radius: 6px;
	background-color: #ffa300;
	-webkit-transform: rotate(-30deg);
	-ms-transform: rotate(-30deg);
	transform: rotate(-30deg);
	color: #fff;
	font-size: 14px;
	z-index: 100;
}

/*================================================================
/ TUTORIALS
/=================================================================*/

/* XXXXXXXXXX TUTORIALS - ALL XXXXXXXXXX */
.tutorial, .reference {
	display: block;
	color: rgba(0,0,0,0.87);
}

.tutorial .subtitle, .reference .subtitle {
	color: rgba(0,0,0,0.54);
}

/*.tutorial.blocked:hover, .reference.blocked:hover {
	cursor: no-drop;
}*/

/* XXXXXXXXXX TUTORIALS - FEATURED GAMES XXXXXXXXXX */
#game-tutorials-featured .tutorial,
#sidebar section {
	padding-top: 20px;
	background: #fff;
	text-align: center;
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.1);
	border-radius: 3px;
	
	transition: 0.2s all;
}
#game-tutorials-featured .tutorial:hover {
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.3);
	transform: translateY(-5px);
}

#game-tutorials-featured .tutorial .title {
	font-size: 150%;
	margin: 0;
	padding: 15px 0;
	border-bottom: 1px solid #f1f1f1;
}
#game-tutorials-featured .tutorial .subtitle {
	padding: 15px;
	color: rgba(0,0,0,0.54);
}
#game-tutorials-featured .tutorial .subtitle p {
	margin: 0;
}
#game-tutorials-featured .tutorial .icon {
	/* http://stackoverflow.com/questions/12945891/responsive-css-circles */
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin: auto;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3) inset;
}
#game-tutorials-featured .tutorial:hover .icon {
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3) inset, 0 0 0px 10px rgba(0, 0, 0, 0.02);
}

/* XXXXXXXXXX TUTORIALS - GAMES ALL XXXXXXXXXX */
/* MEDIUM SIZE */
#game-tutorials-all .tutorial,
#system-tutorials-all .tutorial,
#graphics-tutorials-all .tutorial,
#sidebar .tutorial, #sidebar .reference {
	padding: 15px 0px;
	overflow: hidden;
	border: 1px solid rgba(255,255,255,0);
	border-bottom: 1px solid #cccccc;
	height: 80px;
	
	transition: 0.1s all;
}
#game-tutorials-all .tutorial:hover,
#system-tutorials-all .tutorial:hover,
#graphics-tutorials-all .tutorial:hover,
#sidebar .tutorial:hover, #sidebar .reference:hover {
	background: #ffffff;
	border: 1px solid rgba(204, 204, 204, 0);
	border-radius: 3px;
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.3);
	transform: translateY(-5px);
	padding-left: 15px;
	margin-left: -15px;
}

#game-tutorials-all .tutorial .title,
#system-tutorials-all .tutorial .title,
#graphics-tutorials-all .tutorial .title,
#sidebar .tutorial .title, #sidebar .reference .title {
	margin-top: 3px;
	font-size: 100%;
}
#game-tutorials-all .tutorial .subtitle,
#system-tutorials-all .tutorial .subtitle,
#graphics-tutorials-all .tutorial .subtitle,
#sidebar .tutorial .subtitle, #sidebar .reference .subtitle {
	font-size: 100%;
}
#game-tutorials-all .tutorial .subtitle p,
#system-tutorials-all .tutorial .subtitle p,
#graphics-tutorials-all .tutorial .subtitle p,
#sidebar .tutorial .subtitle p, #sidebar .reference .subtitle p {
	margin: 0;
}

#game-tutorials-all .tutorial .icon,
#system-tutorials-all .tutorial .icon,
#graphics-tutorials-all .tutorial .icon,
#sidebar .tutorial .icon, #sidebar .reference .icon {
	float: left;
	margin-right: 15px;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4) inset;
}

/* SMALL */
#game-tutorials-all .tutorial.small,
#system-tutorials-all .tutorial.small,
#graphics-tutorials-all .tutorial.small,
#sidebar .tutorial.small, #sidebar .reference.small {
	padding: 5px 0px;
	overflow: hidden;
	border: 1px solid rgba(255,255,255,0);
	border-bottom: 1px solid #cccccc;
	height: 40px;
	
	transition: 0.1s all;
}
#game-tutorials-all .tutorial:hover.small,
#system-tutorials-all .tutorial:hover.small,
#graphics-tutorials-all .tutorial:hover.small,
#sidebar .tutorial:hover.small, #sidebar .reference:hover.small {
	background: #ffffff;
	border: 1px solid rgba(204, 204, 204, 0);
	border-radius: 3px;
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.3);
	transform: translateY(-3px);
	padding-left: 5px;
	margin-left: -5px;
}

#game-tutorials-all .tutorial.small .title,
#system-tutorials-all .tutorial.small .title,
#graphics-tutorials-all .tutorial.small .title,
#sidebar .tutorial.small .title, #sidebar .reference.small .title {
	margin-top: 8px;
	font-size: 100%;
}
#game-tutorials-all .tutorial.small .subtitle,
#system-tutorials-all .tutorial.small .subtitle,
#graphics-tutorials-all .tutorial.small .subtitle,
#sidebar .tutorial.small .subtitle, #sidebar .reference.small .subtitle {
	font-size: 100%;
	display: none;
}
#game-tutorials-all .tutorial.small .subtitle p,
#system-tutorials-all .tutorial.small .subtitle p,
#graphics-tutorials-all .tutorial.small .subtitle p,
#sidebar .tutorial.small .subtitle p, #sidebar .reference.small .subtitle p {
	margin: 0;
}

#game-tutorials-all .tutorial.small .icon,
#system-tutorials-all .tutorial.small .icon,
#graphics-tutorials-all .tutorial.small .icon,
#sidebar .tutorial.small .icon, #sidebar .reference.small .icon {
	float: left;
	margin-right: 15px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4) inset;
}

/*
.tutorials.featured {
	overflow: auto;
	padding-top: 30px;
}

.tutorials.featured .tutorial {
	text-align: center;
}

.tutorials.featured .tutorial h2 {
	font-size: 150%;
}

.tutorials.featured .tutorial .icon {
	width: 230px;
	height: 230px;
	margin: auto;
	
	transition: all 0.3s;
}
*/

/* XXXXXXXXXX TUTORIALS - FEATURED GAMES - OVERRIDES XXXXXXXXXX */
/*
.tutorials.featured .tutorial .bg-patreon {
	background: transparent url("imgs/patreon.png") repeat scroll center center / 115% auto;
}
.tutorials.featured .tutorial:hover .bg-patreon {
	background-size: 100%;
}
*/

/* XXXXXXXXXX TUTORIALS - SYSTEM XXXXXXXXXX */
/*
.tutorials.system ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.tutorials.system h2 {
	font-size: 150%;
	margin-bottom: 0;
	margin-top: 30px;
}
.tutorials.system p {
	margin: 0;
}

.tutorials.system a {
	display: block;
	height: 120px;
	overflow: hidden;
	border-bottom: 1px solid #cccccc;
	color: #000000;
}

.tutorials.system a:last-child {
	border-bottom: 0px;
}

.tutorials.system .icon {
	float: left;
	margin: 20px;
	width: 80px;
	height: 80px;
	
	transition: all 0.3s;
}
*/

/* XXXXXXXXXX TUTORIALS - SYSTEM - OVERRIDES XXXXXXXXXX */

/* 
.tutorials.system .tutorial:hover .bg-patreon {
	background-size: 100%;
	transition: all 0.3s;
}
*/

/* XXXXXXXXXX TUTORIAL - ITEM PAGE SIDEBAR XXXXXXXXXX http://stackoverflow.com/a/23321903/423835 */
/*
#sidebar .tutorial .icon {
	margin: auto;
	position: relative;
	width: 80%;
}

#sidebar .tutorial .icon::before {
	content: "";
	display: block;
	padding-top: 100%;
}
*/

/*================================
/ MAIN / CONTENT
/=================================*/

main {
	/*background: #f5f5f5;*/
	/*background: url(http://static.tumblr.com/gqij1z7/PVumrv1y2/bg.png);*/
	/*position: relative;*/ /* For boostrap ScrollSpy */
	animation: fadeIn 1s, marginTop 0.5s;
}

main section {
	
}

main .content-container {
	margin: auto;
}

main#index h1 {
	margin: 20px 0px;
	font-size: 100%;
	font-weight: bold;
}

main#index h1 .divider {
	color: rgba(0,0,0,0.15);
}

main#index h1 .subtitle {
	color: rgba(0,0,0,0.54);
	font-weight: normal;
}

main#page {
	padding-top: 20px;
}

.content-container {
	width: 1200px;
}

/*.separator {
	border-bottom: 1px solid #cccccc;
}*/

/* HEADINGS */
article h2 {
	margin-left: -20px;
	margin-top: 30px;
}
article h2::after {
	background: rgba(0, 0, 0, 0) linear-gradient(to right, rgba(102, 102, 102, 1) 0%, rgba(153, 153, 153, 1) 50%, rgba(184, 184, 184, 0) 80%, rgba(204, 204, 204, 0) 100%) repeat scroll 0 0;
	content: "";
	display: block;
	height: 1px;
	overflow: hidden;
}
article h3 {
	margin-top: 30px;
	text-decoration: underline;
}

/* LISTS */
article ul {
	list-style-type: disc;
	margin: 20px 0px;
	padding-left: 40px;
}
article ul * {
	margin: 0;
}

article .subtitle {
	color: rgba(0,0,0,0.54);
	margin-top: 0;
	padding-left: 40px;
}

/* IMAGES / VIDEO */
article img {
	max-width: 100%;
}

.img-box {
	margin: auto;
	padding: 5px;
	display: inline-block;
	max-width: 100%;
	overflow: hidden;
}

/*.img-box .bg {
	margin: auto;
	padding: 5px;
	display: inline-block;
	max-width: 100%;
	overflow: hidden;
}*/

.img-box img {
	display: block;
	margin: auto;
	max-width: 100%;
	border-radius: 3px;
}

.img-box .caption {
	text-align: center;
	padding: 5px 20px 0px 20px;
}

article video {
	max-width: 100%;
}

article footer {
	margin-top: 150px;
}

/*================================
/ SIDEBAR
/=================================*/

#sidebar section {
	margin-bottom: 20px;
	padding: 20px;
	text-align: left;
	background: rgba(255, 255, 255, 0.6);
}

#sidebar h1, #sidebar h2 {
	font-size: 100%;
	margin-bottom: 10px;
}

/*================================
/ FOOTER
/=================================*/

#footer-main {
	
}

/*================================
/ MEDIA QUERIES
/=================================*/
@media only screen and (max-width: 1200px) {
	.content-container {
		width: 1000px;
	}
}
@media only screen and (max-width: 1000px) {
	.content-container {
		width: 800px;
	}
}

@media only screen and (max-width: 800px) {
	body {
		/*background-color: lightblue;*/
	}
	
	.content-container {
		width: 100%;
	}
	
	.article-list {
		flex-direction: column;
	}
	
	.grid-33 {
		width: 100% !important;
	}
	
	.grid-70 {
		width: 100% !important;
	}
	
	.grid-30 {
		width: 100% !important;
	}
}