---
layout: main
---

<main>

	<div class="grid-container">
	
		<div class="grid-100">

			<section>
				<h1>Tutorials</h1>
				<ul>
					{% for i in site.tutorials %}
					<li>
						<a class="tutorial monster blocked" href="{% if i.isAvailable %}{{ i.homepage | prepend: site.baseurl }}{% endif %}">
							<div class="icon shadow-1 radius-50 bg-monster"></div>
							<h1>{{ i.title }}</h1>
							<p>{{ i.subtitle}} {% if i.isAvailable == false %}<span class="coming-soon">Coming Soon</span>{% endif %}</p>
						</a>
					</li>
					{% endfor %}
				</ul>
			</section>

			<section>
				<h1>Blog Posts</h1>
				<ul>
					{% for i in site.posts %}
					<li>
						<a href="{{ i.url | prepend: site.baseurl }}">{{ i.title }} ({{ i.date | date: "%b %-d, %Y" }})</a>
					</li>
					{% endfor %}
				</ul>
			</section>
			
			<section>
				<h1>News (sorted newest first)</h1>
				<ul>
					{% assign sorted-news = site.news | sort:"date" | reverse %}
					{% for i in sorted-news %}
					<li>
						<a href="{{ i.url | prepend: site.baseurl }}">{{ i.title }} ({{ i.date | date: "%b %-d, %Y" }})</a>
					</li>
					{% endfor %}
				</ul>
			</section>
			
		</div>

		<div class="grid-100">
			<section>
				<h1>Authors</h1>
				<ul>
					{% for i in site.authors %}
					<li>
						<a href="{{ i.url | prepend: site.baseurl }}">{{ i.name }}</a>
					</li>
					{% endfor %}
				</ul>
			</section>
		</div>
	
	</div>

</main>