---
layout: main
featured-game-tutorials-limit: 3
featured-system-tutorials-limit: 3
---

<main>

	<div class="grid-container">

		<div class="grid-70 grid-parent">
	
			<section class="tutorials game featured">
			{% assign sorted-tuts = site.tutorials | sort:"date" %}
			{% assign index = 0 %}
			{% assign gridSize = 1.0 | divided_by: page.featured-game-tutorials-limit | times: 100.0 %}
			{% assign: gridRounded = gridSize | plus: 0.5 %}
			{% assign: gridRounded = gridRounded %}
			{% capture gridRounded %}{{ gridRounded }}{% endcapture %}
			{% assign: gridRounded = gridRounded | split: "." | first %}
			
			{% for i in sorted-tuts %}
				{% if i.type == "game" %}
					{% if index < page.featured-game-tutorials-limit %}
					<div class="grid-{{ gridRounded | round }}">
					
							<a class="tutorial {{ i.id }} {% if i.isAvailable == false %}blocked{% endif %}" href="{% if i.isAvailable %}{{ i.homepage | prepend: site.baseurl }}{% else %}#{% endif %}" title="{{ i.title }} Unity Tutorial">
								<div class="icon shadow-1 radius-50"></div>
								<h1>{{ i.title }}</h1>
								<p class="subtitle">{{ i.subtitle}} {% if i.isAvailable == false %}<span class="coming-soon">Coming Soon</span>{% endif %}</p>
							</a>

					</div>
					{% assign index = index | plus:1 %}
					{% endif %}
				{% endif %}
			{% endfor %}
			</section>
			
			<div class="grid-100">

				<section class="tutorials system">
					<ul>
						{% assign sorted-tuts = site.tutorials | sort:"date" %}
						{% for i in sorted-tuts %}
							{% if i.type == "system" %}
							<li>
								<a class="tutorial {{ i.id }} {% if i.isAvailable == false %}blocked{% endif %}" href="{% if i.isAvailable %}{{ i.url | prepend: site.baseurl }}{% else %}#{% endif %}" title="{{ i.title }} Unity Tutorial">
									<div class="icon shadow-1 radius-50"></div>
									<h1>{{ i.title }}</h1>
									<p class="subtitle">{{ i.subtitle}} {% if i.isAvailable == false %}<span class="coming-soon">Coming Soon</span>{% endif %}</p>
								</a>
							</li>
							{% endif %}
						{% endfor %}
					</ul>
				</section>

			</div>
		
		</div>
	
	</div>

</main>
