---
layout: main
---

<main>

	<section id="tutorials-featured">
		<div class="grid-container">

			{% assign sorted-tuts = site.tutorials | sort:"date" %}
			{% for i in sorted-tuts %}
			<div class="grid-33">
			
					<a class="tutorial {{ i.id }} {% if i.isAvailable == false %}blocked{% endif %}" href="{% if i.isAvailable %}{{ i.homepage | prepend: site.baseurl }}{% else %}#{% endif %}" title="{{ i.title }} Unity Tutorial">
						<div class="icon shadow-1 radius-50"></div>
						<h1>{{ i.title }}</h1>
						<p>{{ i.subtitle}} {% if i.isAvailable == false %}<span class="coming-soon">Coming Soon</span>{% endif %}</p>
					</a>

			</div>
			{% endfor %}

		</div>
	</section>
	
	<section>
		<div class="grid-container">
			<div class="grid-100">

				<h1>Blog Posts</h1>
				<ul>
					{% for i in site.posts %}
					<li>
						<a href="{{ i.url | prepend: site.baseurl }}">{{ i.title }} ({{ i.date | date: "%b %-d, %Y" }})</a>
					</li>
					{% endfor %}
				</ul>
	
			</div>
		</div>
	</section>
	
	<section>
		<div class="grid-container">
			<div class="grid-100">
			
				<h1>News (sorted newest first)</h1>
				<ul>
					{% assign sorted-news = site.news | sort:"date" | reverse %}
					{% for i in sorted-news %}
					<li>
						<a href="{{ i.url | prepend: site.baseurl }}">{{ i.title }} ({{ i.date | date: "%b %-d, %Y" }})</a>
					</li>
					{% endfor %}
				</ul>
			
			</div>
		</div>
	</section>

	<section>
		<div class="grid-container">
			<div class="grid-100">

				<h1>Authors</h1>
				<ul>
					{% for i in site.authors %}
					<li>
						<a href="{{ i.url | prepend: site.baseurl }}">{{ i.name }}</a>
					</li>
					{% endfor %}
				</ul>

			</div>
		</div>
	</section>

</main>