<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>
		{% if page.titlepre %}
			{{ page.titlepre }}
		{% endif %}
		
		{% if page.title %}
			{{ page.title }} | {{ site.title }}
		{% else %}
			{{ site.title }}
		{% endif %}
	</title>
	
	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

	<!-- MAIN -->
	<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ "/css/unsemantic-grid-base.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ "/css/unsemantic-grid-desktop.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ "/css/syntax-highlighting.css" | prepend: site.baseurl }}">
	<link href="https://fonts.googleapis.com/css?family=Alegreya:400,700|PT+Sans:400,700|Dekko" rel="stylesheet">

	<!-- JS -->
	<script src="/js/jquery.min.js"></script>
	
	<!-- JS - JOINT HTML5 DIAGRAMS/CHARTS -->
	<link rel="stylesheet" type="text/css" href="/css/joint.css" />
	<script src="/js/lodash.min.js"></script>
	<script src="/js/backbone-min.js"></script>
	<script src="/js/joint.js"></script>

	<!-- OTHER -->
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
	
	<!-- FAVICONS -->
	<link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/manifest.json">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="theme-color" content="#ffffff">

</head>
