<header class="header-main">

	<div class="grid-container">
		
		<div class="grid-50">
		
			<h1><a href="{{ site.baseurl }}/"><div class="logo">ut</div> {{ site.title }}</a></h1>
			
		</div>

		<div class="grid-50">
		
			<nav class="navmenu">
				<ul>
					{% for i in site.pages %}
					{% if i.title %}
					{% if i.showInMenu %}
					<li>
						<a href="{{ i.url | prepend: site.baseurl }}" class="item {{ i.id }}" title="{{ i.subtitle }}">
							<div class="icon"></div>
							<div class="title">{{ i.title }}</div>
						</a>
					</li>
					{% endif %}
					{% endif %}
					{% endfor %}
				</ul>
			</nav>
			
		</div>
		
	</div>
	
	<div id="tutorials-dropdown" class="dropdown">
	
		<div class="grid-container">

			<div class="grid-100">
				<h2>Game Tutorials</h2>

				<ul>
				{% assign sorted-tuts = site.tutorials | sort:"date" %}
				{% for i in sorted-tuts %}
					{% if i.isPublic %}
					{% if i.type == "game" %}
					<li>
						<a class="tutorial {{ i.refid }} {% if i.isAvailable == false %}blocked{% endif %}" href="{{ i.url | prepend: site.baseurl }}" title="{{ i.subtitle }}">
							<div class="icon"></div>
							<div class="title">{{ i.title }}</div>
						</a>
					</li>
					{% endif %}
					{% endif %}
				{% endfor %}
				</ul>
			</div>
			
			<div class="grid-100">
				<h2>System Tutorials</h2>

				<ul>
				{% for i in sorted-tuts %}
					{% if i.isPublic %}
					{% if i.type == "system" %}
					<li>
						<a class="tutorial {{ i.refid }} {% if i.isAvailable == false %}blocked{% endif %}" href="{{ i.url | prepend: site.baseurl }}" title="{{ i.subtitle }}">
							<div class="icon"></div>
							<div class="title">{{ i.title }}</div>
						</a>
					</li>
					{% endif %}
					{% endif %}
				{% endfor %}
				</ul>
			</div>
			
			<div class="grid-100">
				<h2>Graphics Tutorials</h2>

				<ul>
				{% for i in sorted-tuts %}
					{% if i.isPublic %}
					{% if i.type == "graphics" %}
					<li>
						<a class="tutorial {{ i.refid }} {% if i.isAvailable == false %}blocked{% endif %}" href="{{ i.url | prepend: site.baseurl }}" title="{{ i.subtitle }}">
							<div class="icon"></div>
							<div class="title">{{ i.title }}</div>
						</a>
					</li>
					{% endif %}
					{% endif %}
				{% endfor %}
				</ul>
			</div>
		
		</div>
	
	</div>

</header>
