
<!-- DROPDOWN MENU -->
<script type="text/javascript">
var tutorials = document.getElementById('tutorials');
var tutorialsDropdown = document.getElementById('tutorials-dropdown');

tutorials.onmouseover = function()
{
	tutorialsDropdown.classList.add('show');
	event.preventDefault();
};

tutorials.onmouseout = function()
{
	tutorialsDropdown.classList.remove('show');
	event.preventDefault();
};

tutorialsDropdown.onmouseover = function()
{
	tutorialsDropdown.classList.add('show');
	event.preventDefault();
};

tutorialsDropdown.onmouseout = function()
{
	tutorialsDropdown.classList.remove('show');
	event.preventDefault();
};

</script>

<!-- GITTER -->
<script>
  ((window.gitter = {}).chat = {}).options = {
    room: 'st4rdog/UnityTutorials'
  };
</script>
<script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>