
<!-- UNITY ASSET STORE EDITS https://stackoverflow.com/questions/6494721/css-override-body-style-for-content-in-iframe -->

<!-- DROPDOWN MENU -->
<script type="text/javascript">
var tutorials = document.getElementById('tutorials');
var tutorialsDropdown = document.getElementById('tutorials-dropdown');

tutorials.onmouseover = function()
{
	tutorialsDropdown.classList.add('show');
	event.preventDefault();
};

tutorials.onmouseout = function()
{
	tutorialsDropdown.classList.remove('show');
	event.preventDefault();
};

tutorialsDropdown.onmouseover = function()
{
	tutorialsDropdown.classList.add('show');
	event.preventDefault();
};

tutorialsDropdown.onmouseout = function()
{
	tutorialsDropdown.classList.remove('show');
	event.preventDefault();
};

</script>

<!-- GITTER -->
<!--
<script>
  ((window.gitter = {}).chat = {}).options = {
    room: 'st4rdog/UnityTutorials'
  };
</script>
<script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>
-->

<!-- SMOOTH #SCROLL -->
<!-- https://css-tricks.com/snippets/jquery/smooth-scrolling/ - "NOVEMBER 20, 2013" comment -->
<script>
$(function() {
  $('a[href*="#"]:not([href="#"])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 1000);
        return false;
      }
    }
  });
});
</script>

<!-- STATCOUNTER -->
<!--
<script type="text/javascript">
//<![CDATA[
var sc_project=11165442; 
var sc_invisible=1; 
var sc_security="8f01bedb"; 
var scJsHost = (("https:" == document.location.protocol) ?
"https://secure." : "http://www.");
document.write("<sc"+"ript type='text/javascript' src='" +
scJsHost+
"statcounter.com/counter/counter_xhtml.js'></"+"script>");
//]]>
</script>
-->

<!-- GOOGLE -->
<!--
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-87452204-1', 'auto');
  ga('send', 'pageview');
</script>
-->

<!-- CLICKY -->
