			<div id="sidebar">

				{% if page.rel-tutorials %}
				<section>
					<h2>Tutorials</h2>
					<ul>

						{% for i in site.tutorials %}
						{% if i.isPublic %}
						{% if page.rel-tutorials contains i.refid %}
						<li>
							<a class="tutorial {{ i.refid }} small" href="{{ i.url | prepend: site.baseurl }}" title="{{ i.subtitle }}">
								<div class="icon"></div>
								<div class="title">{{ i.title }}</div>
								<div class="subtitle">
									<p>{{ i.subtitle-short}}</p>
								</div>
							</a>
						</li>
						{% endif %}
						{% endif %}
						{% endfor %}

					</ul>
				</section>
				{% endif %}

				{% if page.rel-references %}
				<section>
					<h2>References</h2>
					<ul>

						{% for i in site.references %}
						{% if i.isAvailable %}
						{% if page.rel-references contains i.refid %}
						<li>
							<a class="reference {{ i.refid }} small" href="{{ i.url | prepend: site.baseurl }}" title="{{ i.subtitle }}">
								<div class="icon"></div>
								<div class="title">{{ i.title }}</div>
								<div class="subtitle">
									<p>{{ i.subtitle-short}}</p>
								</div>
							</a>
						</li>
						{% endif %}
						{% endif %}
						{% endfor %}

					</ul>
				</section>
				{% endif %}

			</div>