			<div id="sidebar">

				{% if page.rel-tutorials %}
				<section>
					<h2>Tutorials</h2>
					<ul>

						{% for i in site.tutorials %}
						{% if i.isPublic %}
						{% if page.rel-tutorials contains i.refid %}
						<li>
							<a class="tutorial {{ i.refid }} small" href="{{ i.url | prepend: site.baseurl }}" title="{{ i.subtitle }}">
								<div class="tooltip-content -card">
									<div class="subtitle">{{ i.subtitle }}</div>
								</div>
								<div class="icon"></div>
								<div class="title">{{ i.title }}</div>
								<div class="subtitle">
									<p>{{ i.subtitle-short}}</p>
								</div>
							</a>
						</li>
						{% endif %}
						{% endif %}
						{% endfor %}

					</ul>
				</section>
				{% endif %}

				{% if page.rel-references %}
				<section>
					<h2>References</h2>
					<ul>

						{% for i in site.references %}
						{% if i.isAvailable %}
						{% if page.rel-references contains i.refid %}
						<li>
							<a class="article-link {{ i.refid }} -sidebar" href="{{ i.url | prepend: site.baseurl }}" title="{{ i.subtitle }}">
								<div class="tooltip-content -card">
									<div class="subtitle">{{ i.subtitle }}</div>
									{% if i.complexity %}
									<div class="complexity-content">
										<div class="title">Complexity</div>
										<div class="value -{% if i.complexity > 3 %}advanced{% elsif i.complexity > 2 %}intermediate{% elsif i.complexity > 0 %}beginner{% endif %}">{% if i.complexity > 3 %}Advanced{% elsif i.complexity > 2 %}Intermediate{% elsif i.complexity > 0 %}Beginner{% endif %}</div>
									</div>
									{% endif %}
								</div>
								<div class="icon -{{i.type}}"></div>
								<div class="title">{{ i.title }}</div>
								<div class="subtitle">
									<p>{{ i.subtitle-short}}</p>
								</div>
							</a>
						</li>
						{% endif %}
						{% endif %}
						{% endfor %}

					</ul>
				</section>
				{% endif %}
				
				<!--
				<section class="unity-assetstore -staff">
					<iframe id="unity-assetstore-iframe" src="https://api.assetstore.unity3d.com/affiliate/embed/list/staff-picks/widget-medium" style="width:300px; height:485px; border:0px;"></iframe>
				</section>
				
				<section class="unity-assetstore -topfree">
					<iframe id="unity-assetstore-iframe" src="https://api.assetstore.unity3d.com/affiliate/embed/list/top-free/widget-medium-light" style="width:300px; height:485px; border:0px;"></iframe>
				</section>
				-->


			</div>