---
layout: main
---
<main id="page">

	<div class="grid-container">
		<div class="grid-100">

			<h1>{{ page.title }}</h1>

			{{ content }}

			<h2>Unity</h2>
			<ul class="article-list">
				
				{% for i in site.references %}
				{% if i.isPublic %}
				{% if i.type == "unity" %}
				<li class="item">
					<{% if i.isAvailable %}a{% else %}div{% endif %} class="article-link -small -card {{ i.refid }} {% unless i.isAvailable %}-disabled{% endunless %}" href="{{ i.url | prepend: site.baseurl }}" title="{{ i.subtitle }}">
						{% if i.isPatreonExclusive %}<div class="patreon" title="{{ site.patreon-title }}">Patreon</div>{% endif %}
						<div class="icon"></div>
						<div class="title">{{ i.title }}</div>
					</{% if i.isAvailable %}a{% else %}div{% endif %}>
				</li>
				{% endif %}
				{% endif %}
				{% endfor %}
			</ul>
			
			<h2>Programming</h2>
			<ul class="article-list">
				
				{% for i in site.references %}
				{% if i.isPublic %}
				{% if i.type == "programming" %}
				<li class="item">
					<{% if i.isAvailable %}a{% else %}div{% endif %} class="article-link -small -card {{ i.refid }} {% unless i.isAvailable %}-disabled{% endunless %}" href="{{ i.url | prepend: site.baseurl }}" title="{{ i.subtitle }}">
						{% if i.isPatreonExclusive %}<div class="patreon" title="{{ site.patreon-title }}">Patreon</div>{% endif %}
						<div class="icon"></div>
						<div class="title">{{ i.title }}</div>
					</{% if i.isAvailable %}a{% else %}div{% endif %}>
				</li>
				{% endif %}
				{% endif %}
				{% endfor %}
			</ul>
			
			<h2>Graphics</h2>
			<ul class="article-list">
				
				{% for i in site.references %}
				{% if i.isPublic %}
				{% if i.type == "graphics" %}
				<li class="item">
					<{% if i.isAvailable %}a{% else %}div{% endif %} class="article-link -small -card {{ i.refid }} {% unless i.isAvailable %}-disabled{% endunless %}" href="{{ i.url | prepend: site.baseurl }}" title="{{ i.subtitle }}">
						{% if i.isPatreonExclusive %}<div class="patreon" title="{{ site.patreon-title }}">Patreon</div>{% endif %}
						<div class="icon"></div>
						<div class="title">{{ i.title }}</div>
					</{% if i.isAvailable %}a{% else %}div{% endif %}>
				</li>
				{% endif %}
				{% endif %}
				{% endfor %}
			</ul>

		</div>
	</div>

</main>