---
layout: main
---
<main>

	<div class="grid-container">
		<div class="grid-100">

			<h1>{{ page.title }}</h1>

			{{ content }}

			<h2>Programming</h2>
			<ul>
				
				{% for i in site.references %}
				{% if i.isAvailable %}
				{% if i.type == "programming" %}
				<li>
					<a href="{{ i.url | prepend: site.baseurl }}">{{ i.title }}</a>
				</li>
				{% endif %}
				{% endif %}
				{% endfor %}
			</ul>
			
			<h2>Graphics</h2>
			<ul>
				
				{% for i in site.references %}
				{% if i.isAvailable %}
				{% if i.type == "graphics" %}
				<li>
					<a href="{{ i.url | prepend: site.baseurl }}">{{ i.title }}</a>
				</li>
				{% endif %}
				{% endif %}
				{% endfor %}
			</ul>

		</div>
	</div>

</main>