---
layout: main
---
<main id="page">

	<div class="grid-container">
	
		<div class="grid-70">

			<article class="{{page.refid}}">
		
				<header>
					<h1 {% if page.type %}class="{{ page.type }}"{% endif %}><span class="icon -{{page.type}}"></span>{{ page.titlepre }}{{ page.title }}</h1>
					{% if page.subtitle %}<p class="subtitle">{{ page.subtitle }}</p>{% endif %}
				</header>
				
				<!--<div id="pagination"></div>-->
				
				<!--
				TODO: IF TUTORIAL, LIST OF THINGS YOU WILL LEARN IN THIS TUTORIAL - BOX FLEXBOX LIST, LIKE PATREON PAGE.
				BOXES ARE LINKS TO REFERENCES OR... USE article-list WITH LINKS TO REFERENCES
				-->

				{% if page.isPatreonExclusive %}
				<p class="warning">This page is PATREON EXCLUSIVE. Only Patreon supporters have access to it for now!</p>
				{% else %}
				{% if page.isAvailable == false %}<p class="warning">This page is unfinished, but still accessible because there may be useful content or links in the Notes section.</p>{% endif %}
				{{ content }}
				{% endif %}
				
				<footer>
				
{% include affiliate-links.html %}
				
{% if page.showComments %}
<div id="disqus_thread"></div>
<script>
/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = {{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }};  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = {{ page.refid }}; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = '//unitytuts.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}

				</footer>
			
			</article>
		
		</div>
		
		<div class="grid-30">

			{% include sidebar.html %}

		</div>
		
	</div>

</main>