---
layout: main
---
<main id="page">

	<div class="grid-container">
	
		<div class="grid-70">

			<article>
		
				<header>
					<h1 {% if page.type %}class="{{ page.type }}"{% endif %}>{{ page.titlepre }}{{ page.title }}</h1>
					{% if page.subtitle %}<p class="subtitle">{{ page.subtitle }}</p>{% endif %}
				</header>

				{% if page.isPatreonExclusive %}
				<p>This page is PATREON EXCLUSIVE. Only Patreon supporters have access to it for now!</p>
				{% else %}
				{{ content }}
				{% endif %}
				
				<footer>
				
					<div class="related-footer -card">
						<div class="item">
							<div class="amzn-wrapper">
								<a class="img" rel="nofollow" href="https://www.amazon.co.uk/gp/product/B0013A1FIM/ref=as_li_tl?ie=UTF8&camp=1634&creative=6738&creativeASIN=B0013A1FIM&linkCode=as2&tag=unitytutor-21">
									<img border="0" src="http://ws-eu.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B0013A1FIM&Format=_SL160_&ID=AsinImage&MarketPlace=GB&ServiceVersion=20070822&WS=1&tag=unitytutor-21" >
								</a>
								<img src="http://ir-uk.amazon-adsystem.com/e/ir?t=unitytutor-21&l=as2&o=2&a=B0013A1FIM" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
							</div>
							
							<div class="amzn-wrapper">
								<a class="title" rel="nofollow" href="https://www.amazon.co.uk/gp/product/B0013A1FIM/ref=as_li_tl?ie=UTF8&camp=1634&creative=6738&creativeASIN=B0013A1FIM&linkCode=as2&tag=unitytutor-21">Nintendo Entertainment System Console</a>
								<img src="http://ir-uk.amazon-adsystem.com/e/ir?t=unitytutor-21&l=as2&o=2&a=B0013A1FIM" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
							</div>
						</div>
						<div class="item">
							<a class="img" rel="nofollow" href="https://www.amazon.co.uk/gp/product/B01GVQVL0Y/ref=as_li_tl?ie=UTF8&camp=1634&creative=6738&creativeASIN=B01GVQVL0Y&linkCode=as2&tag=unitytutor-21"><img border="0" src="http://ws-eu.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B01GVQVL0Y&Format=_SL160_&ID=AsinImage&MarketPlace=GB&ServiceVersion=20070822&WS=1&tag=unitytutor-21" ></a><img src="http://ir-uk.amazon-adsystem.com/e/ir?t=unitytutor-21&l=as2&o=2&a=B01GVQVL0Y" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
							<a class="title" rel="nofollow" href="https://www.amazon.co.uk/gp/product/B01GVQVL0Y/ref=as_li_tl?ie=UTF8&camp=1634&creative=6738&creativeASIN=B01GVQVL0Y&linkCode=as2&tag=unitytutor-21">Sony PlayStation 4 Pro 1TB</a><img src="http://ir-uk.amazon-adsystem.com/e/ir?t=unitytutor-21&l=as2&o=2&a=B01GVQVL0Y" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
						</div>
						<div class="item">
							<a class="img" rel="nofollow" href="https://www.amazon.co.uk/gp/product/B00KL32AJA/ref=as_li_tl?ie=UTF8&camp=1634&creative=6738&creativeASIN=B00KL32AJA&linkCode=as2&tag=unitytutor-21"><img border="0" src="http://ws-eu.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B00KL32AJA&Format=_SL110_&ID=AsinImage&MarketPlace=GB&ServiceVersion=20070822&WS=1&tag=unitytutor-21" ></a><img src="http://ir-uk.amazon-adsystem.com/e/ir?t=unitytutor-21&l=as2&o=2&a=B00KL32AJA" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
							<a class="title" rel="nofollow" href="https://www.amazon.co.uk/gp/product/B00KL32AJA/ref=as_li_tl?ie=UTF8&camp=1634&creative=6738&creativeASIN=B00KL32AJA&linkCode=as2&tag=unitytutor-21">The Legend of Zelda: Breath of the Wild (Nintendo Wii U)</a><img src="http://ir-uk.amazon-adsystem.com/e/ir?t=unitytutor-21&l=as2&o=2&a=B00KL32AJA" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
						</div>
						
						<div class="item">
							<div class="amzn-wrapper">
								<a class="img" rel="nofollow" href="https://www.amazon.co.uk/gp/product/B0013A1FIM/ref=as_li_tl?ie=UTF8&camp=1634&creative=6738&creativeASIN=B0013A1FIM&linkCode=as2&tag=unitytutor-21">
									<img border="0" src="http://ws-eu.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B0013A1FIM&Format=_SL160_&ID=AsinImage&MarketPlace=GB&ServiceVersion=20070822&WS=1&tag=unitytutor-21" >
								</a>
								<img src="http://ir-uk.amazon-adsystem.com/e/ir?t=unitytutor-21&l=as2&o=2&a=B0013A1FIM" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
							</div>
							
							<div class="amzn-wrapper">
								<a class="title" rel="nofollow" href="https://www.amazon.co.uk/gp/product/B0013A1FIM/ref=as_li_tl?ie=UTF8&camp=1634&creative=6738&creativeASIN=B0013A1FIM&linkCode=as2&tag=unitytutor-21">Nintendo Entertainment System Console</a>
								<img src="http://ir-uk.amazon-adsystem.com/e/ir?t=unitytutor-21&l=as2&o=2&a=B0013A1FIM" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
							</div>
						</div>
						
					</div>
				
{% if page.showComments %}
<div id="disqus_thread"></div>
<script>
/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = {{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }};  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = {{ page.refid }}; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = '//unitytuts.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}

				</footer>
			
			</article>
		
		</div>
		
		<div class="grid-30">

			{% include sidebar.html %}

		</div>
		
	</div>

</main>